@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <br/>
    <br/>
    
     <div class="col-sm-12">
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Welcome to Baker McKenzie</h1>
  <p class="lead">We help clients overcome the challenges of competing in the global economy.</p>
  <hr class="my-4">
<img src="~/images/logo2.png" width="180px" height="70px" />               
</div>
    </div>
    </div>

