
@{
    ViewData["Title"] = "Restore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restore</h2>
<div class="form-group col-lg-4">
    <label>Version Control</label>
    <select class="form-control" required>
        <option>Wednesday, 23 May 2018, 19:30 </option>
        <option>Thursday, 24 May 2018, 07:00</option>
        <option>Friday, 25 May 2018, 17:00</option>
        <option>Monday, 28 May 2018, 11:00 </option>
        <option>Monday, 28 May 2018, 15:00</option>
        <option>Tuesday, 29 May 2018, 02:00</option>
    </select>
</div>
<br/>
    <div class="row">
    <a href="Restore Database"><button type="button" class="btn btn-success">Restore</button></a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
