@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
ViewData["Title"] = "DisplayVendor";
}
<div class="container">
<h2>Vendor</h2>

<div class="row">
    
        <div class="col">
        <button type="button" class="btn btn-success">Add Vendor</button>
        </div>

        <div class="col">
            <!--
         <input type="text" placeholder="Search.." name="search">
      <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
        -->
        </div>
</div>
<div class="row">
<div class="col"></div>
    
    <div class="col-8">
      <br>
        <br>
        <br>

       
<table class="table table-hover">
    <thead>
      <tr>
        <th>Vendor Name</th>
        <th>Physical Address</th>
        <th>Postal Address</th>
        <th>Phone number</th>
        <th>Email address</th>
            <th>VAT number</th>
            <th>Account Number</th>
            <th>Branch Code</th>
            <th>Type</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>xxxxxxxx</td>
        <td>xxxxxxxx</td>

        <td>xxxxxxxx</td>

        <td>xxxxxxxx</td>
        <td>xxxx@example.com</td>
        <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td><a>Add </a><a> Edit </a><a> Delete </a></td>
            
      </tr>
      <tr>
        <td>xxxxxxxx</td>
        <td>xxxxxxxx</td>

        <td>xxxxxxxx</td>

        <td>xxxxxxxx</td>
        <td>xxxx@example.com</td>
        <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td><a>Add </a><a> Edit </a><a> Delete </a></td>
      </tr>
      <tr>
         <td>xxxxxxxx</td>
        <td>xxxxxxxx</td>

        <td>xxxxxxxx</td>

        <td>xxxxxxxx</td>
        <td>xxxx@example.com</td>
        <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td>xxxxxxxx</td>
            <td><a>Add </a><a> Edit </a><a> Delete </a></td>
      </tr>
    </tbody>
  </table>
        </div>
    <div class="col"></div>
        </div>
    

</div>
    