@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
ViewData["Title"] = "ExchangeRate";
}
<div class="row">
<div class="container">
 

    <div class="col-sm-6">

    <h2>Calculate Exchange Rate</h2>
    <form>

        <div class="form-group">
        <label>From</label>
        <select class="form-control">
                <option>USD</option>
                <option>GBP</option>
                 <option>ZAR</option>
                

        </select>
            

        </div>
        <div class="form-group">
        <label>To</label>
         <select class="form-control">
                <option>USD</option>
                <option>GBP</option>
                <option>ZAR</option>
                

        </select>  

        </div>
        <div class="form-group">

            <label>Date</label>
            <input type="date" class="form-control"/>
            
            
        </div>
        <div class="form-group">
        <label>Value</label>

            <input type="number" class="form-control" readonly>


        </div>
        <p>
       <a class="btn btn-primary"><i class="material-icons" style="vertical-align: middle;">&#xe86a;</i><span>  Calculate</span></a>
       </p> 
       <br/>
        <div class="form-group has-feedback">
      
        <input type="number" class="form-control" placeholder="Result..."/> 
        <i class="glyphicon glyphicon-copy form-control-feedback" title="Copy"></i>
                    

                

        </div>


    </form>





</div>
        </div>
       
</div>

