
@{
ViewData["Title"] = "ServiceProviderReport";
}


   <div class="container">
    <div class="row">
  <h2>Vendor Report</h2>
        <br/>
    <form class="form-inline">
    <div class="form-group">
      <label>From</label>
      <input type="date" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label>To:</label>
      <input type="date" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> All records </label>
    </div>
    <button type="submit" class="btn btn-primary"> Submit</button>
            
  </form>
        </div>

    <div class="row" align="right"><a class="btn btn-success"><i class="material-icons" style="vertical-align: middle;">&#xe0c3;</i><span>  Export .csv</span></a>
       <a class="btn btn-success"><i class="material-icons" style="vertical-align: middle;">&#xe0c3;</i><span>  Export .pdf</span></a>
       </div>
    <div class="row">
        <br/>
    <table class="table table-condensed">
            <tr>
             <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Physical Address</th>
                        <th>Type</th>
                        <th>Preference</th>
                </tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                       </tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        </tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        </tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                       </tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        </tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        </tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        </tr>




     </table>



    </div>
</div>

 


    





