@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
ViewData["Title"] = "UserReport";
}


   <div class="container">
    <div class="row">
  <h2>Generate User Report</h2>
        <br/>
    <form class="form-inline">
    <div class="form-group">
      <label>From</label>
      <input type="date" class="form-control" placeholder="yyyy/mm/dd">
    </div>
    <div class="form-group">
      <label>To:</label>
      <input type="date" class="form-control" >
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> All records </label>
    </div>
    <button type="submit" class="btn btn-primary"> Submit</button>
            
  </form>
        </div>

    <div class="row" align="right"><a class="btn btn-success"><i class="material-icons" style="vertical-align: middle;">&#xe0c3;</i><span>  Export .csv</span></a>
       <a class="btn btn-success"><i class="material-icons" style="vertical-align: middle;">&#xe0c3;</i><span>  Export .pdf</span></a>
       </div>
    <div class="row">
        <br/>
    <table class="table table-condensed">
            <tr>
            <th>ID</th>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Initials</th>
                        <th>ID Number</th>
                        <th>Work Telephone</th>
                        <th>Email</th>
                        <th>Cell Phone</th>
                        <th>Physical Address</th>
                        <th>Postal Address</th>
                </tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td></tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td></tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td></tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td></tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td></tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td></tr>
            <tr><td>x</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td>
                        <td>xxxxxxxx</td></tr>




     </table>



    </div>
</div>

 


    




